@import 'variables';

// Common styles
body {
    font-family: Arial, sans-serif;
    color: $text-color;
    background-color: $light-background-color;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}