// Define your color variables
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$light-background-color: #f8f9fa;
$link-color: #007bff;
$dark-background-color: #1e1e1e;
$footer-dark: #02264c;
$text-color: #333;
$text-color-dark: #ffffff;
$link-color-dark: #99caff;
$code-background-color: #f0f2f5;
$code-background-color-dark : #292a2a;