@import 'variables';

// Dark theme styles
body.dark-mode {
    background-color: $dark-background-color;
    color: $text-color-dark;
    header {
        background-color: $footer-dark;
    }
    
    footer {
        text-align: center;
        padding: 10px;
        background-color: $footer-dark;
        color: $text-color-dark;
    }
    .article-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $link-color-dark;
        }
        a {
            color: $link-color-dark;
        }

        pre {
            background-color: $code-background-color-dark;
        }

        code { 
            background-color: $code-background-color-dark;
        }
    
        color: $text-color-dark;
    }
}

a.dark-mode {
    color: lighten($link-color, 30%);

    &:hover {
        text-decoration: none;
        color: lighten($link-color, 20%);
    }
}