/* Variables for colors */
@import '_variables';

@import 'pieces/toggle';
@import 'pieces/header';
@import 'pieces/pagination';
@import 'pages/home';
@import 'pages/article';

body.dark-mode {
  background-color: $dark-background-color;
  color: $text-color-dark;
  @import 'dark-theme/layout';
  @import 'dark-theme/article';
  @import 'dark-theme/home';
  @import 'dark-theme/pagination.scss';
}

a.dark-mode {
  color: lighten($link-color, 30%);

  &:hover {
      text-decoration: none;
      color: lighten($link-color, 20%);
  }
}

body {
  font-family: Arial, sans-serif;
  color: $text-color;
  background-color: $background-color;
}

main {
  margin: 20px auto;
  max-width: 1200px;
  padding: 0 20px;


  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-content {
    @media (max-width: $breakpoint-md) {
      margin-right: 0;
    }
  }

  aside {
    width: 100%;
    margin-top: 20px;

    @media (min-width: $breakpoint-md) {
      width: 25%;
      margin-top: 0;
    }

    h2 {
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 5px;

        a {
          color: $link-color;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* Footer styles */
footer {
  background-color: $footer;
  color: #ffffff;
  padding: 10px 20px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      text-align: center;
    }

    .footer-left,
    .footer-right {
      margin: 0;
    }

    .footer-right {
      a {
        color: #ffffff;
        margin-left: 10px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}