@use '../variables' as *;
@use 'sass:color';
/* General styles for the article */
article {
  .article-header {
    width: 800px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    .vote-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;

      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5em;
        color: $link-color;

        &:disabled {
          color: $link-color-disabled;
          cursor: default;
        }

        &:not(:disabled):hover {
          color: color.adjust($link-color, $lightness: -10%)
        }
      }

      #vote-count {
        font-size: 1.2em;
        margin: 5px 0;
      }
    }

    h1 {
      font-size: 2em;
      margin: 0.3em 0;
    }

    .article-metadata {
      h1, h4 {
        margin: 0;
      }

      .article-data-content {
        opacity: 50%;
      }
    }
  }

  details {
    summary { cursor:pointer; }
  }


  .keywords {
    font-size: 0.7em;
    opacity: 50%;
    padding: 2em;
    font-style: italic;
  }

  .article-content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: $text-color;
    margin: 20px auto;
    width: 800px;

    img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
    }

    h1 {
      font-size: 1em;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $link-color;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }

    pre {
      background-color: $code-background-color;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      overflow-x: auto;
      font-family: 'Courier New', Courier, monospace;

      code {
        padding: 0px;
        background-color: inherit;
      }
    }

    a {
      color: $link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    code {
      padding: 0 3px;
      border-radius: 3px;
      background-color: $code-background-color;
      font-family: 'Courier New', Courier, monospace;
      font-size: 0.9em;
    }

    li {
      margin-bottom: 5px;
    }
  }

  /* Other Languages Section */
  .other-languages {
    margin-top: 20px;
    padding: 2px 10px;
    background-color: transparent;
    border-left: 3px solid $link-color;

    h3 {
      font-size: 1.2em;
      margin-bottom: 5px;
      color: $link-color;
    }

    ul {
      list-style-type: none;
      padding: 0;

      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      li {
        margin-bottom: 5px;

        a {
          text-decoration: none;
          color: $link-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  /* Media Queries for Responsiveness */
  @media (max-width: $breakpoint-md) {
    .article-header {
      flex-direction: row;
      text-align: left;
      max-width: 100%;

      h1 {
        font-size: 1.5em;
        text-align: center;
      }

      .vote-buttons {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    .article-content {
      max-width: 100%;
      padding: 0 10px;

      h1 {
        font-size: 1.2em;
      }

      img {
        width: 100%;
      }
    }

    .other-languages {
      padding: 5px;

      h3 {
        font-size: 1em;
      }
      ul {
        flex-direction: column;
        gap: 0.5em;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    .article-header {
      h1 {
        font-size: 1.2em;
      }
    }

    .article-content {
      h1 {
        font-size: 1em;
      }

      p {
        font-size: 0.9em;
      }

      pre {
        font-size: 0.8em;
      }
    }

    .other-languages {
      padding: 5px;

      h3 {
        font-size: 1em;
      }
    }
  }
}