/* General styles for the article */
article {

  .article-header {
    width: 800px;
    margin: 30px auto;
    display: flex;
    align-items: center;

    .vote-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;

      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5em;
        color: $link-color;

        &:disabled {
          color: $link-color-disabled;
          cursor: default;
        }

        &:not(:disabled):hover {
          color: darken($link-color, 10%);
        }
      }

      #vote-count {
        font-size: 1.2em;
        margin: 5px 0;
      }
    }

    h1 {
      font-size: 2em;
      margin: 0.3em 0;
    }

    .article-metadata {

      h1,
      h4 {
        margin: 0;
      }

      .article-data-content {
        opacity: 50%;
      }
    }
  }


  .keywords {
    font-size: 0.7em;
    opacity: 50%;
    padding: 2em;
    font-style: italic;
  }

  .article-content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: $text-color;
    margin: 20px auto;
    width: 800px;

    img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
    }

    h1 {
      font-size: 1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $link-color;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }

    pre {
      background-color: $code-background-color;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      overflow-x: auto;
      font-family: 'Courier New', Courier, monospace;

      code {
        padding: 0px;
        background-color: inherit;
      }
    }

    a {
      color: $link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    code {
      padding: 0 3px;
      border-radius: 3px;
      background-color: $code-background-color;
      font-family: 'Courier New', Courier, monospace;
      font-size: 0.9em;
    }

    li {
      margin-bottom: 5px;
    }
  }
}