<article>
    <h1>Article Title</h1>
    <p>Author: John Doe | Published: January 1, 2024</p>
    <div class="article-content">
        <!-- Article content goes here -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        <pre><code className="js"></code><%-code_%></pre>
    </div>
</article>