@use '../variables' as *;

@mixin styles {
    .article-list {
        article {
            background-color: $dark-background-card;
            border-color: $text-color;
        }

        a {
            color: $text-color-dark;
        }
    }
}